<!---->

<launch>
  <master auto="start"/>
  <param name="use_sim_time" value="false" />
  
<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <rosparam file="$(find diff)/config/diff/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find diff)/config/diff/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find diff)/config/diff/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find diff)/config/diff/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find diff)/config/diff/teb_local_planner_params.yaml" command="load" />
</node>

<!-- run rviz -->
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diff)/launch/zivr.rviz" />

  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" args="/dev/arduino"/>
  <!--<node name="main" pkg="main" type="main"/>-->
  <node name="final" pkg="final" type="final"/>
</launch>
